/* Clipboard */
@import './clipboard-website/styles.css';
@import './loopstudios-website/styles.css';

/* Apply Tailwind's default configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;